<div class="float-window">
  <div class="window-bar">
    <span class="controls">
      <span class="red"></span>
      <span class="yellow"></span>
      <span class="green"></span>
    </span>
    <span class="window-title">dactrtr.rocks</span>
  </div>
  <div class="links">
    <a href="https://github.com/dactrtr" class="icon-code"></a>
    <a href="https://www.linkedin.com/in/dactrtr/" class="icons-linkedin"></a>
    <a href="/blog/" class="icon-pizza"></a>
    <a href="https://tangara.studio/" class="icon-tangara"></a>
  </div>
</div>
