<div class="lang-tabs-container">
<input type="radio" name="lang" id="tab-eng" class="tab-radio" {% if page.lang == 'eng' or page.lang == nil or page.lang == '' %}checked{% endif %}>
<input type="radio" name="lang" id="tab-esp" class="tab-radio" {% if page.lang == 'esp' %}checked{% endif %}>
<input type="radio" name="lang" id="tab-jp" class="tab-radio" {% if page.lang == 'jp' %}checked{% endif %}>
<div class="tab-labels">
  <label for="tab-eng">ENGLISH</label>
  <label for="tab-esp">ESPAÑOL</label>
  <label for="tab-jp">日本語</label>
</div>
</div>
