<header class="main-header">
  <div class="header-inner">
    <img src="/assets/dactrtr-icon.png" alt="dactrtr icon" class="header-icon" />
    <div class="logo">
      <h1>dactrtr</h1>
      <h2>Sebastian Zúñiga Rivas</h2>
      <p class="what">... what</p>
      <p class="mind"><ruby>さば<rt>さばの魚</rt></ruby>と申します</p>
      <p class="who-iam">
        I'm <span class="blinkypinky">UI Designer</span>,
        <span class="purpleback">Illustrator</span> and
        <span class="cyantyrant">Indie Game Developer</span> (HTML/CSS/SwiftUI/Lua) located in <span class="header-tokyo"><span class="header-tokyo-name">Tokyo</span><span class="header-tokyo-img"></span></span>.
      </p>
    </div>
    <div class="illustration">
      <img class="illu-me" src="../assets/img.png" alt="ME" />
      <img
        class="illu-code"
        src="../assets/coding.png"
        alt="some random code"
      />
      {% include float-window.html %}
    </div>

    <span class="dots"></span>
  </div>
</header>
