<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% if page.title %}{{ page.title }} {% endif %}{{ site.name }}
    </title>

    <meta name="author" content=" = D A C T R T R = " />
    <meta name="description" content="{{ site.description }}" />
    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link
      rel="icon"
      type="image/png"
      href="{{ site.baseurl }}/assets/favicon-32x32.png"
      sizes="32x32"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ site.baseurl }}/style.css"
    />
  </head>

  <body class="portfolio-full">
    <div id="swup" class="transition-main">
      <a href="/" class="portfolio-back" aria-label="Back to portfolio">← back</a>
      <div class="portfolio-full-content">
        {{ content }}
      </div>
    </div>
    <footer class="portfolio-footer">
      <p class="footer-name">Sebastian Zúñiga · dactrtr</p>
      <ul class="footer-links">
        <li><a href="mailto:{{ site.footer-links.email }}">{{ site.footer-links.email }}</a></li>
        <li><a href="https://github.com/{{ site.footer-links.github }}">github</a></li>
        <li><a href="https://www.instagram.com/dactrtr.rocks/">instagram</a></li>
        <li><a href="https://behance.net/{{ site.footer-links.behance }}">behance</a></li>
      </ul>
    </footer>
    {% include analytics.html %}
    <script src="https://unpkg.com/swup@4"></script>
    <script src="https://unpkg.com/@swup/body-class-plugin@3"></script>
    <script>
      const swup = new Swup({ plugins: [new SwupBodyClassPlugin()] });
    </script>
  </body>
</html>
